bower_components/*
node_modules/*
AngularEventDispatcher.csproj.user
AngularEventDispatcher.v12.suo
AngularEventDispatcher.sln.DotSettings.user
doc/*
obj/*
coverage/*
bin/*
src/*.js*
test/src/*.spec.js*
